extends ../layout/layout.pug

block header
  link(rel="stylesheet", href="/css/header.css")

block content
  header.page-header
    section.user-block
      span.user-block__user= login
      nav.page-nav
      ul.page-nav__list
        li.page-nav__item
            a.page-nav__link(href=`/user-desk`) Головна
        li.page-nav__item
          a.page-nav__link.page-nav__link--active Заявки
      a.user-block__login(href='/logout') Вийти
  main.page-content
    section.dashboard
      h2.dashboard__title Список заявок
      table.dashboard__table
        thead
          tr.dashboard__item.dashboard__item--header
            th id
            th Статус заяви
            th Виконавець
            th Дата
            th Проблема
            th Критичність
        -
        tbody
          each item in tasksList
            tr.dashboard__item
              td
                span.dashboard__item-id= item.id
              td
                span.dashboard__item-status= item.req_status
              td
                span.dashboard__item-performer= `${item.performer_first_name} ${item.performer_last_name}, ${item.performer_phone}`
              td
                span.dashboard__item-date= item.date
              td
                textarea.dashboard__item-payload(readonly)= item.payload
              td
                if item.critical === 1
                  span.dashboard__item-critical Критична
                else
                  span.dashboard__item-regular Звичайна